.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .addButton{
    padding: 10px;
    background-color: #008B8B;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .addButton:hover{
    background-color: #008080;
  }
  
  .table{
    width: 100%;
  }
  
  .table td{
    padding: 10px;
  }
  
  .user{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .userImage{
    border-radius: 50%;
    object-fit: cover;
  }
  
  .buttons{
    display: flex;
    gap: 10px;
  }
  
  .button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
  }
  
  .view{
    background-color: #f7cb7375;
  }
  .view:hover{
    background-color: #B8860B;

  }
  
  .delete{
    background-color: #f7737375;
  }
  .delete:hover{
    background-color: #8B0000;
  }