.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.form {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
  }
  
  .form button {
    width: 50%;
    padding: 10px;
    background-color: #008B8B;
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .form button:hover{
    background-color: #008080;
  }